@model SistemaInventario.Modelos.KardexVM
@using SistemaInventario.Utilidades


@{
    ViewData["Title"] = "KardexProductoResultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Kardex por producto";
}


<div>

    <div class="col-12 border-bottom p-0">
        <h2 class="text-primary">@titulo</h2>
    </div>


    <div class="row"> @* fila *@
        <div class="col-10"> @* columnas *@
              <div class="row mb-2">
                  <div class="col-md-8 mt-2">
                    <label><strong class="m-2">Desde: </strong>@Model.FechaInicio.ToShortDateString()<strong class="m-2">Hasta: </strong>@Model.FechaFinal.ToShortDateString()</label>
                  </div>
              </div>

            <div class="row mb-2">
                <div class="form-group col-md-8 mt-2">
                    <label><strong class="m-2">Producto:</strong>@Model.Producto.Descripcion</label>
                </div>
            </div>

        </div>

        <div class="col-2">   @* columnas *@
             <img src="@DS.ImagenRuta@Model.Producto.ImagenUrl" style="margin-top:10px; border-radius:20px; width:120px; height:120px" />
        </div>



    </div>

    <div class="row mb-2">
        <div class="form-group col-md-6 mt-2">
            <a asp-action="KardexProducto" class="btn btn-primary">Nueva Consulta</a>

            <a asp-action="ImprimirKardex" asp-route-fechaInicio="@Model.FechaInicio.ToString("yyyy-MM-dd")" asp-route-fechaFinal="@Model.FechaFinal.ToString("yyyy-MM-dd")" asp-route-productoId="@Model.Producto.Id" class="btn btn-primary"><i class="bi bi-printer-fill"></i>Imprimir</a>

            <a asp-action="Index" class="btn btn-primary">Salir</a>
        </div>
    </div>

    <table class="table table-responsive table-hover table-bordered">
        @foreach(var deposito in Model.KardexLista.GroupBy(k => k.DepositoProducto.Deposito.Nombre))
        {
            <thead class="table-secondary">
                <tr>
                    <th colspan="6">@deposito.Key</th>
                    <th colspan="3" class="text-center">Saldo</th>
                </tr>
                <tr>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Detalle</th>
                    <th class="text-center">Stock anterior</th>
                    <th class="text-center">Entrada</th>
                    <th class="text-center">Salida</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Costo</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>

            @foreach(var datos in Model.KardexLista.Where(d=> d.DepositoProducto.Deposito.Nombre == deposito.Key))
            {
                <tr>
                    <td class="text-center">@datos.FechaRegistro.ToShortDateString()</td>
                    <td class="text-center">@datos.Tipo</td>
                    <td class="text-center">@datos.Detalle</td>
                    <td class="text-center">@datos.StockAnterior</td>
                    @if(datos.Tipo == "Entrada")
                    {
                        <td class="text-center">@datos.Cantidad</td>
                    }
                    else
                    {
                         <td class="text-center">---</td>
                    }
                    @if (datos.Tipo == "Salida")
                    {
                        <td class="text-center">@datos.Cantidad</td>
                    }
                    else
                    {
                        <td class="text-center">---</td>
                    }
                    
                    <td class="text-center">@datos.Stock</td>
                    <td class="text-center">@datos.Costo</td>
                    <td class="text-center">@datos.Total</td>
                </tr>

            }
        }
    </table>

    @if(Model.KardexLista.Count () == 0)
    {
        <div class="col-12 border-botton p-0">
            <h3 class="text-primary text-center">No hay datos para mostrar</h3>
        </div>
    }

</div>